/**************************
IMPORT
***************************/
@import "_imports.scss"; 
/*----------------------------------------------
1. GENERAL ELEMENTS
------------------------------------------------*/
html{
    @include scrollbars(0.5em, $black);
}

body{
  margin:0;
  padding:0;
  background-color: $brand-color-1;
}

.container-fluid{
  padding: 40px 15px;
}
/*----------------------------------------------
2. Header
------------------------------------------------*/
.navbar_dark{
  background-color: $brand-color-2;
  justify-content: flex-start;

  .navbar-toggler{
    color:$white;
    padding:15px 0;
    font:{
      size: 0.75em;
      family: $font1;
    }
    .navbar-toggler-icon{
      width: auto;
      height:auto;
    }
  }
  .navbar-brand{
    padding: 10px 0;
    & img{
      height:30px;
    }

  }
}
/*----------------------------------------------
3. PRODUCTS LISTING
------------------------------------------------*/
.jumbotron{
  h1{
    margin-bottom:20px;
  }
  background-color: transparent;
  padding-top: 20px;
  img{
    z-index: -2;
    max-height: 70vh;
    top: 30vh;
    right: 15vw;
    position: absolute;
    opacity: 0.2;
  }
  p{
    margin:0 0 40px;
  }
  input{
    padding:20px;
    font-size:1.8rem;
    @include MQ(M) {
      padding:30px;
      font-size:3rem;
    }
  }
}
#products{
  background-color: #fff;
  .product-list{
    padding:70px 0 0 0;
    ul{
      margin:0 auto;
      padding:0;
      display:block;
      li{
        display:inline-block;
        text-align:center;
        width:calc(100%/2);
        @include MQ(S) {
          width:calc(100%/3);
        }
        @include MQ(M) {
          width:calc(100%/4);
        }
        @include MQ(L) {
          width:calc(100%/5);
        }
        min-height: 20vh;
        vertical-align: bottom;
        margin-bottom:40px;
        transition:all ease-in 0.4s;
        a{
          outline:none;
          img{
            width:100%;
          }
        }
      }

      &:hover li:not(:hover){
        opacity:0.4;
      }
    }
  }
  &.stores{
    margin-top:120px;
  }
}
/*----------------------------------------------
4. Footer
------------------------------------------------*/
footer{
  background-color:$black;
  border-top:1px solid rgba($white, 0.5);
  padding:40px;
  p{
    text-align: center;
    color: $white;
    &:last-child{
      margin-top: 15px;
    }
  }
}