<template>
  	<nav class="navbar navbar-toggleable-md navbar_dark fixed-top">
      <div class="container">
  		  <a class="navbar-brand" href=""><img src="https://beaus.ca/wp-content/themes/beaus_2016/assets/build/img/beaus-beige-logo.svg"/></a>
      </div>
  	</nav>
</template>