*{
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}
h1,h2,h3,h4,h5,h6{
    margin: 0 ;
}
h1{
    font:{
        family: $font1;
        size: 2em;

    }
}
h2{
    font:{
        family: $font1;
        size: 2.5em;
        weight:700;
    }
}
h3{
    font:{
        family: $font1;
        size: 2em;
        weight:700;
    }
}

h4{
    font:{
        family: $font1;
        size: 1.5em;
        weight:700;
    }
}

h5{
    font:{
        family: $font1;
        size: 1.2em;
        weight:700;
    }
    margin-bottom: 3vh;
}

h6{
    font:{
        family: $font1;
        size: 0.9em;
        weight:400;
    }
}

p{
    font:{
        family: $font2;
        size: 1em;
        weight:300;
    }
    margin:0;
    color: $black;
    line-height:2em;
}
a{
    text-decoration:none;
}
.lead{
    font:{
      family:$font1;
    }
}  
.navbar{
  .nav-item{
    text-align: center;
  }
    a{
        font:{
            family: $font1;
            size: 1em;
            weight:500;
        }
        // padding:calc(60vh/9) 0;
        color:$white;
        text-decoration:none;
    }
}
/*******************      Button       ********************/
.btn{
    border: 1px solid $black;
    padding: 2vw 4vw;
    background: $black;
    &:hover{
      background-color: $brand-color-2;
      border: 1px solid $brand-color-2;
    }
}

button, input[type="button"], button:focus{
    border:none;
    background:none;
    outline:none;
}
.form-control:focus {
    border-color: $brand-color-3;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px $brand-color-4;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px $brand-color-4;
}