// breakpoints
$Mob: 479px;   
$XS:     480px;   
$S:     600px;   
$M:     960px;     
$L:     1100px;     

// media queries

@mixin MQ($canvas) {
  @if $canvas == S {
   @media only screen and (min-width: $S) { @content; } 
  }
  @else if $canvas == M {
   @media only screen and (min-width: $M)  { @content; } 
  }
  @else if $canvas == L {
   @media only screen and (min-width: $L) { @content; }     
  }
 
}