//colors
$white: #FFFFFF; // White
$black: #000000; // Black
$gray1: #d4d4d4; // light gray
$gray3: #848484; // mid gray
$gray4: #787878; // darker gray
$brand-color-1: #f9f7e7 ;
$brand-color-2: #522c1b ;
$brand-color-3: #c4a077 ;
$brand-color-4: #a5babb ;

//transition styles
$transition-load: cubic-bezier(0.45, 0.1, 0.02, 1.04);
