<template>
  <div>
    <div class="jumbotron container" v-if="product.result">
  	  <h1>{{product.result.name}}</h1>
  	  <p class="lead">{{product.result.description}}</p>
  		<img v-bind:src="product.result.image_url" class="float-right" alt="..."> 
      <hr />
      <p>Stores carrying this product:</p>
    </div>  
    <div id="products" class="stores">
  		<div class="product-list">
        <ul>
          <li v-for="store in storewproduct.result">
            {{store.name}} <a v-bind:href="'http://www.google.com/maps/dir//'+store.name+'/@'+store.latitude+','+store.longitude">click for direction</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>
<script>
import axios from 'axios'
export default {
  name: 'product',
  data: () => ({
    product: [],
    storewproduct: [],
    location: this.getlocation,
    error: []
  }),
  created () {
    axios.get(`${this.api_url}products/${this.$route.params.id}`,
    { headers: { 'Authorization': `Token token="${this.access_key}` } })
    .then((response) => {
      this.product = response.data
      axios.get(`${this.api_url}stores?product_id=${this.$route.params.id}`,
      { headers: { 'Authorization': `Token token="${this.access_key}` } })
      .then((response) => { this.storewproduct = response.data })
      .catch(error => console.log(error))
    })
    .catch(error => console.log(error))
  }
}
</script>