<template>
  <div class="products">
    <div class="jumbotron container" id="welcome">
  	  <h1>Products</h1>
  	  <p class="lead">Try out seasonal beer</p>
      <div class="search">
        <input type="text" class="form-control" v-model="search" placeholder='Search for your beverage...' pattern="[a-zA-Z]" />
      </div>  
    </div>    
    <div id="products">
  		<div class="product-list" v-if="productsFilter && productsFilter.length">
        <ul>
          <li v-for="product of productsFilter" 
              v-if="product.is_discontinued == false 
                    && product.image_url !== null">
            <a v-bind:href="'/#/product/'+product.id">
              <img v-bind:src="product.image_url" width="100" />
              <p><strong>{{product.name}}</strong></p>
            </a>
          </li>
        </ul>
  		</div>
  	</div>
  </div>
</template>
<script>
import axios from 'axios'
export default {
  name: 'products',
  data: () => ({
    search: '',
    products: [],
    error: []
  }),
  computed: {
    productsFilter () {
      const search = this.search
      return this.products.filter(
        product => product.name.toLowerCase().indexOf(search.toLowerCase()) !== -1
      )
    }
  },
  created () {
    axios.get(`${this.api_url}products`,
    { headers: { 'Authorization': `Token token="${this.access_key}` } })
    .then((response) => { this.products = response.data.result })
    .catch(error => console.log(error))
  }
}
</script>