<style lang="scss">
   @import "./assets/scss/styles.scss";
</style>
<template>
  <div id="app">
    <v-header></v-header>
     <router-view />
    <v-footer></v-footer>
  </div>
</template>
<script>
import Header from '@/components/layout/Header'
import Footer from '@/components/layout/Footer'
export default {
  name: 'app',
  components: {
    'v-header': Header,
    'v-footer': Footer
  }
}
</script>